
.gradle/
**/build/

hs_err_pid*.log
replay_pid*.txt
*.hprof

.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.factorypath
.settings/
bin/
out/

.DS_Store
Thumbs.db
Desktop.ini

*.log
*.tmp
*.temp
*.swp
*~
